security:
    providers:
        users:
            entity:
                class: 'App\Entity\User'
                property: 'userName'
    role_hierarchy:
        ROLE_USER:          ROLE_USER
        ROLE_PDT_FKT:       ROLE_PDT_FKT
        ROLE_EM_FKT:        ROLE_EM_FKT
        ROLE_SUPER_ADMIN:   [ROLE_ALLOWED_TO_SWITCH]

    encoders:
        App\Entity\User:
            algorithm: auto
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            remember_me:
                secret:   '%kernel.secret%'
                lifetime: 604800 # 1 week in seconds
                path:     /
            anonymous: lazy
            provider: users
            guard:
                authenticators:
                    - App\Security\FokontanikoAuthAuthenticator
            logout:
                path: app_logout
                target: /

    # Note: Only the *first* access control that matches will be used
    access_control:
         - { path: ^/admin, roles: [ROLE_ADMIN, ROLE_PDT_FKT, ROLE_EM_FKT] }
