{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}
    <div class="horizontal-main-wrapper">
        {% include 'admin/menu/_top_nav.html.twig' %}
        <div class="main-content-inner">
            <div class="container mt-3">
                {% for flash in app.session.flashBag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        <strong>{{ flash }}</strong>
                    </div>
                {% endfor %}
                {% for flash in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ flash }}</strong>
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
