@import '../vendor/css/bootstrap.min.css';
@import '../vendor/css/font-awesome.min.css';
@import '../vendor/css/themify-icons.css';
@import '../vendor/css/metisMenu.css';

@import '../vendor/css/typography.css';
@import '../vendor/css/default-css.css';
@import '../vendor/css/styles.css';
@import '../vendor/css/responsive.css';
