<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="body-bg">
        <!-- preloader area start -->
        {% block loader %}
            <div id="preloader">
                <div class="loader"></div>
            </div>
        {% endblock %}
        <!-- preloader area end -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
