<div class="offset-area">
    <div class="offset-close"><i class="ti-close"></i></div>
    <ul class="nav offset-menu-tab">
        <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
        <li><a data-toggle="tab" href="#settings">Settings</a></li>
    </ul>
    <div class="offset-content tab-content">
        <div id="activity" class="tab-pane fade in show active">
            <div class="recent-activity" id="recent-activity" style="overflow-y: scroll">
                {{ render(controller('App\\Controller\\Admin\\HistoryController::historyList')) }}
            </div>
        </div>
        <div id="settings" class="tab-pane fade">
            <div class="offset-settings">
                <h4>General Settings</h4>
                <div class="settings-list">
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Dark Mode</h5>
                            <div class="s-swtich">
                                <input type="checkbox" data-user="{{ app.user ? app.user.id : '' }}"
                                        {% if app.user is not null and app.user.theme == 1 %} checked{% endif %}
                                       class="switch-mode"
                                       id="switch1"/>
                                <label for="switch1">Toggle</label>
                            </div>
                        </div>
                        <p>Tsapanao ve fa mankarary maso ilay fotsy loatra ? tsindrio eto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
