
    <!-- main header area start -->
    <div class="mainheader-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="#"><img src="{{ asset('images/avatar.png') }}" alt="logo"></a>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-9 clearfix text-right">
                    <div class="d-md-inline-block d-block mr-md-4">
                        <ul class="notification-area">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
{#                            <li class="dropdown">#}
{#                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">#}
{#                                    <span>2</span>#}
{#                                </i>#}
{#                                <div class="dropdown-menu bell-notify-box notify-box">#}
{#                                    <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>#}
{#                                    <div class="nofity-list">#}
{#                                        <a href="#" class="notify-item">#}
{#                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>#}
{#                                            <div class="notify-text">#}
{#                                                <p>You have Changed Your Password</p>#}
{#                                                <span>Just Now</span>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                        <a href="#" class="notify-item">#}
{#                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>#}
{#                                            <div class="notify-text">#}
{#                                                <p>New Commetns On Post</p>#}
{#                                                <span>30 Seconds ago</span>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
                            <li class="settings-btn">
                                <i class="ti-settings"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix d-md-inline-block d-block">
                        <div class="user-profile m-0">
                            <img class="avatar user-thumb" src="{{ asset('images/avatar.png') }}" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
                                {{ app.user ? app.user.userName :'Fokontany' }}
                                <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Hiala</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header area end -->
    {% include 'admin/menu/_head_area.html.twig' %}
    {% include 'admin/menu/_history.html.twig' %}
